<div class="section-header">
  <h2>Amazing Cat Facts</h2>
  <p>Scroll down to discover more fascinating facts about our feline friends!</p>
</div>
        
<div class="facts-grid">
  @for (fact of catFacts(); track fact){
    <app-card [fact]="fact"/>
  }
</div>

<div appInfiniteScroll
      class="loading-trigger" 
      (scrolled)="loadMoreFacts()">

  @if (catFactsService.loading) {
    <div class="loading" aria-live="polite">
      <div class="loading-animation">
        <app-icon class="loading-cat" name="cat"/>
        <div class="loading-dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <p>Finding more amazing cat facts... </p>
    </div>
  }
</div>
